.navigation{
    display: inline-block;
    line-height: 2.5;
}

.navigation__list { 

    list-style-type: none;
}
.navigation__link {
    color: hsl(0, 1%, 13%);
    text-decoration: none;
    border: 2px double rgb(51, 48, 48);
    background-color: hsl(0, 0%, 47%);
    padding: 5px;
}

.navigation__link:hover {
    background-color: hsl(0, 0%, 55%);
}

.navigation__link:active {
    background-color: hsl(0, 0%, 60%);
}